<!DOCTYPE html>
<meta http-equiv="Permissions-Policy" content="interest-cohort=()">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Korea_no.1_Profile</title>
    <script src="static/scripts.js"></script>
    <link rel="stylesheet" href="static/style.css"> 
</head>
<body>
    <div id="home" class="main_bg">
        <header>
            <nav>
                <ul class="main-nav">
                    <li><a href="#profile">Profile</a></li>
                    <li><a href="#tmi">TMI</a></li>
                    <li><a href="#tmi_song">Song</a></li>
                    <li><a href="#tmi_sns">SNS</a></li>
                    <li><a href="chat.html">방명록</a></li>
                </ul>
            </nav>
        </header>
    </div>

    <a name="profile"></a>
    <section class="profile">
        <div class="profile_text left">
            <p>이름 : 정유빈</p>
            <p>나이 : 24(만 23세)</p>
            <p>소속 : 광운대학교 정보융합학부</p>
            <p>메일 : dbqls8969@naver.com</p>
        </div>
        <div class="profile_picture_container">
            <img class="profile_picture" src="photo/my_ar.jpg" alt="ai 사진">
            <img class="profile_picture back" src="photo/swim.jpg" alt="swimg 사진">
        </div>
        <div class="profile_text right">
            <p>취미 : 산책 , 노래듣기 , 글쓰기</p>
            <p>좋아하는 음식 : 고기</p>
            <p>즐겨듣는 노래 장르 : 발라드 & ccm</p>
            <p>좋아하는 영화 장르 : Romance and Comedy</p>
        </div>
    </section>
    
    

    <a name="tmi"></a>
    <section class="tmi">
        <div class="tmi-experience">
            <div class="volunteer">
                <h3>Volunteer</h3><br>
                <div class="image-text-container1">
                    <img src="./photo/volu2.jpg" alt="volu2">
                    <h4>📍 23년도 1학기 정기봉사 <br>
                        ✔ 봉사 내용 : 초등학생 놀이및 중학생 교육<br>
                        ✔ 장소 : 성북 청소년 센터<br>
                        ✔ 활동 시기:  23.4 ~ 23.6<br><br>
                    </h4>
                </div>
                <div class="image-text-container1">
                    <img src="./photo/volu1.jpg" alt="volu1">
                    <h4>📍 광운대학교 하계 국제봉사 <br>
                        ✔ 봉사 내용 : 컴퓨터 교육, 미화 활동<br>
                        ✔ 장소 : 네팔 14차 둘리켈 휴먼스쿨<br>
                        ✔ 활동 시기:  23.7.21 ~ 29<br><br>
                    </h4>
                </div>
                <div class="image-text-container1">
                    <img src="./photo/volu4.jpg" alt="volu4">
                    <h4>📍 23년도 2학기 정기봉사 <br>
                        ✔ 봉사 내용 : 초등학생 프로그램<br>
                        ✔ 장소 : 월계 문화 복지센터<br>
                        ✔ 활동 시기:  23.10 ~ 23.12<br><br>
                    </h4>
                </div>
                <div class="image-text-container1">
                    <img src="./photo/volu3.jpg" alt="volu3">
                    <h4>📍 24년도 1학기 정기봉사 <br>
                        ✔ 봉사 내용 : 초등학생 놀이교육 <br>
                        ✔ 장소 : 성북 청소년 센터<br>
                        ✔ 활동 시기:  24.4 ~ 24.6
                    </h4>
                </div>
            </div>
        
            <div class="club">  
                <h3>Club</h3><br>
                <div class="image-text-container2">
                    <img src="./photo/club1.png" alt="club1">
                    <h4>📍 Com's 54기<br>
                        ✔ 2020.04 ~<br><br>
                    </h4>
                </div>
                <div class="image-text-container2">
                    <img src="./photo/club2.jpg" alt="club2">
                    <h4>📍 Do-with 12기<br>
                        ✔ 2023.03 ~<br><br>
                    </h4>
                </div>
                <div class="image-text-container2">
                    <img src="./photo/club3.jpg" alt="club3">
                    <h4>📍 광운대학교 사회봉사단 14기<br>
                        ✔ 2023.04 ~<br><br>
                    </h4>
                </div>
                <div class="image-text-container2">
                    <img src="./photo/club4.jpg" alt="club4">
                    <h4>📍 정보융합학부 CHIC <br>
                        ✔ 2023.07 ~<br><br>
                    </h4>
                </div>
                <div class="image-text-container2">
                    <img src="./photo/club5.jpg" alt="club5">
                    <h4>📍 광운대학교 소원 서포터즈<br>
                        ✔ 2023.10 ~<br>
                    </h4>
                </div>                
            </div>
        
            <div class="army_school">
                <h3>background</h3><br>
                <h4>
                    <div class="elementary">
                    📍 2008.03 ~ 2014.02<br>
                    ✔ 여수여문초등학교<br><br>
                    </div>

                    <div class="middle">
                        📍 2014.03 ~ 2017.02<br>
                        ✔ 여수문수중학교<br><br>
                    </div>
                    
                    <div class="high">
                        📍 2017.03 ~ 2020.02<br>
                        ✔ 여수고등학교 69회<br><br>
                    </div>

                    <div class="army">
                        📍 2021.05 ~ 2022.11<br>
                        ✔ 의무경찰 1136기<br><br>
                    </div>

                    <div class="univ">
                        📍 2020.03 ~ <br>
                        ✔ 광운대학교 정보융합학부<br><br>
                    </div>
                </h4>
            </div>
        </div>
    </section>

    <a name="tmi_song"></a>
    <div class="song-title">
        <h2>korea_no_1 YuBin Song List</h2>
    </div>
    <section class="tmi_song">
        <div class="song1">
            <iframe class="embed-responsive-item1" src="https://www.youtube.com/embed/dwAgcqVH17U" allowfullscreen></iframe>
                <h3>
                    내가 사랑한 모든 것들은 나를 눈물짓게 할 테니까 - 모브닝
                </h3>
        </div>
        <div class="song2">
            <iframe class="embed-responsive-item2" src="https://www.youtube.com/embed/HwC3KGJKZIg" allowfullscreen></iframe>
                <h3>
                    오르막길 - 윤종신
                </h3>
        </div>
        <div class="song3">
            <iframe class="embed-responsive-item2" src="https://www.youtube.com/embed/AbP0C7LaAzE" allowfullscreen></iframe>
                <h3>
                    추억은 아름다운 기억 - 윤하
                </h3>
        </div>
        <div class="song4">
            <iframe class="embed-responsive-item2" src="https://www.youtube.com/embed/X8SOyW3TJP4" allowfullscreen></iframe>
                <h3>
                    바람(kaze) - 윤하
                </h3>
        </div>
        <div class="song5">
            <iframe class="embed-responsive-item2" src="https://www.youtube.com/embed/eKZf0nDPkok" allowfullscreen></iframe>
                <h3>
                    황금가면 - 김동률
                </h3>
        </div>
        <div class="song6">
            <iframe class="embed-responsive-item2" src="https://www.youtube.com/embed/-P_XC85PgJ8" allowfullscreen></iframe>
                <h3>
                    등대 - 하현상
                </h3>
        </div>
        <div class="song7">
            <iframe class="embed-responsive-item2" src="https://www.youtube.com/embed/sh2ufhM30TY" allowfullscreen></iframe>
                <h3>
                    서른살 놀이터 - EIAN
                </h3>
        </div>
        <div class="song8">
            <iframe class="embed-responsive-item2" src="https://www.youtube.com/embed/hMQmuXnZCCg" allowfullscreen></iframe>
                <h3>
                    시가 될 이야기 - 신지훈
                </h3>
        </div>
        <div class="song9">
            <iframe class="embed-responsive-item2" src="https://www.youtube.com/embed/gg63zevIfww" allowfullscreen></iframe>
                <h3>
                    가득 빈 마음에 - 신지훈
                </h3>
        </div>
    </section>

    <a name="tmi_sns"></a>
    <div class="sns-title">
        <h2>korea_no_1 YuBin SNS</h2>
    </div>
    <section class="tmi_sns">
        <div class="blog">
            <a href="https://blog.naver.com/dbqls8969"><img class="blog_pic" src="./photo/blog.jpeg"></a>
            <p>Blog</p>
        </div>
        <div class="instagram">
            <a href="https://www.instagram.com/jeongyoubin/"><img class="insta_pic" src="./photo/instagram.jpeg"></a>
            <p>Instagram</p>
        </div>
        <div class="github">
            <a href="https://github.com/JeongYuBin"><img class="git_pic" src="./photo/github.jpeg"></a>
            <p>Github</p>
        </div>
        <div class="velog">
            <a href="https://velog.io/@korea_no_1"><img class="vel_pic" src="./photo/velog.jpg"></a>
            <p>velog</p>
        </div>
    </section>
</body>
</html>